@use "variable";
@use "sass:color";
@use "color" as c;
@use "mixin" as mixin;
//fleche retour
        .return {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 3%;
        width: 40px;
        height: 30px;
        top: 2%;
        font-size: 20px;
        color: c.$black;
        }
//bouton eclaircissant et ombré 
.btn__search, .btn__order {
        
        display:flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 200px;
        background: c.$linear-gradient;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        padding: 13px 19px;
        margin: 40px 0 30px 0;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        color: c.$white;
        font-family: 'Roboto', sans-serif;
    
        &:hover {
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75); // Ombré plus marqué
            background: c.$light-gradient !important; // Couleur s'éclaircit au clic
            transform: scale(1.00);
        }
    }
    .btn__order{
        margin:0px 0px 40px 0px;
        @include mixin.desktop__responsive {
        margin:0px 0px 70px 0px;

    }
}
//remplissage coeur 
    .restaurant__intro--heart,.restaurant__cards--like{
        width: 30px;
        z-index: 0;
        position: relative;
        font-family: "Font Awesome 5 Free";
        font-size: 26px;
        padding: 0;
        border: none;
        background-color: transparent;
        -webkit-text-stroke: 0.1px black; // Contour noir de départ
        cursor: pointer;
    
        // Style pour l'état de survol
        &:hover {
            &::after {
                z-index: 1;
                animation: heart-fill 1s forwards ease-in-out;
            }
        }
    
        &::after {
            z-index: -1;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-family: "Font Awesome 5 Free";
            font-weight: 800;
            font-size: 26px;
            content: "\f004"; // Code unicode pour le cœur plein
            color: transparent;
            background-image: linear-gradient(to bottom, c.$color-secondary,c.$color-primary); // Dégradé
            background-clip: text;
            transform-origin: bottom;
            -webkit-background-clip: text;
            -webkit-text-stroke: 0; // Suppression complète de la bordure
            transform-origin: center; // Ajuste le centre de transformation pour un meilleur rendu
        
        }
    }
    
    // Animation pour remplir progressivement le cœur
    @keyframes heart-fill {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}