$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white:#ffffff ;
$shadow : #d5d5d5;
$gray: #EAEAEA;
$black: #353535;
$LightGray:#F6F6F6;
$mediumGray:rgb(234.6, 234.6, 234.6);
$darkGray:#353535;
$linear-gradient: linear-gradient(175deg, $color-secondary, $color-primary);
$light-gradient: linear-gradient(175deg,#ff79dac7, #9356dca8);
$shadow-start:rgba(0, 0, 0, 0.25);
$shadow-light:rgba(0, 0, 0, 0.15);
$shadow-end:rgba(0, 0, 0, 1); 

