@use "sass:color";
@use "color" as c;
@use "button";
@use "mixin" as mixin;

* {
    @include mixin.general;
}

.body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

.header {
    padding: 2%;

    &__logo {
        margin: 0 0 10px 0;
        text-align: center;
        @include mixin.feature__logo;
    }

    @include mixin.desktop__responsive {
        font-size: 32px;
    }
}

.restaurant {
    background-color: c.$LightGray;
    padding: 0;

    @include mixin.desktop__responsive;
    @include mixin.table__responsive {
        width: 100%;
        background-color: c.$white;
    }
}

.restaurant__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: c.$LightGray;
    border-radius: 25px;
    margin: 0 auto;
    max-width: 100%;

    @include mixin.desktop__responsive {
        padding: 0px;
        width: 75%;
    }
}

.restaurant__intro {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;

    &--img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        -webkit-object-fit: cover;
        display: block;

    }

    &--content {
        background-color: c.$LightGray;
        border-radius: 25px 25px 0 0;
        position: relative;
        top: -40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0px 0px 15px;

        @include mixin.table__responsive;
        @include mixin.desktop__responsive {
            width: 75%;
            margin-left: 12.5%;
            padding: 20px;
            justify-content: center;
        }
    }

    &--title {
        @include mixin.feature__logo;
        margin: 0;

        @include mixin.table__responsive {
            text-align: center;
            margin: 0 auto;
            font-size: 26px;
        }

        @include mixin.desktop__responsive {
            text-align: center;
            margin: 0 auto;
            font-size: 28px;
        }
    }

    &--heart {
        font-size: 24px;
        color: black;
        cursor: pointer;

        @include mixin.desktop__responsive {
            position: relative;
            left: -30%;
        }
    }
}

.restaurant__menu {
    background-color: c.$LightGray;
    width: 100%;
    padding: 30px 0;

    @include mixin.desktop__responsive {
        width: 80%;
    }
}

.menu__list {
    display: flex;
    flex-direction: column;
    background-color: c.$LightGray;
    width: 100%;
    padding-bottom: 40px;

    @include mixin.desktop__responsive {
        align-items: center;
    }

    @include mixin.table__responsive {
        align-items: center;
        position: relative;
        top: -40px;
    }

    &--cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixin.desktop__responsive;
        @include mixin.table__responsive {
            width: 75%;
        }
    }

    &--title {
        width: 100%;

        @include mixin.desktop__responsive;
        @include mixin.table__responsive {
            padding-left: 14%;
        }
    }

    &--title h3 {
        position: relative;
        font-size: 18px;
        font-weight: 300;
        margin: 1% 0;
        padding: 10px 0;
        text-transform: uppercase;

        &::after {
            display: block;
            position: absolute;
            bottom: 2px;
            content: "";
            width: 45px;
            height: 4px;
            background-color: c.$color-tertiary;
        }
    }
}

.menu__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 97%;
    height: 80px;
    border-radius: 15px;
    margin: 10px 0;
    background-color: c.$white;
    @include mixin.object-shadow;
    overflow: hidden;

    &--info {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: flex-end;
        height: 80px;
        width: 100%;
        margin: 2%;
        gap: 2%;
       
    }

    &--content {
        width: 100%;
        padding: 4px;
        white-space: nowrap;//pas de retour à la ligne
        overflow: hidden;//...texte caché si trop long
        text-overflow: ellipsis;//...ajouté si texte long

        @include mixin.desktop__responsive;
        @include mixin.table__responsive {
            padding: 16px;
        }

        p {
            font-weight: 300;
            font-size: 15px;
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }

        h4 {
            font-size: 18px;
            margin-bottom: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }
}
//animation bouton vert sur la droite//
.menu__cards--price {
    display: flex;
    align-items: flex-end;
    width: 23%;
    padding: 4px;
    transition: transform 0.8s ease;
    -webkit-transition: transform 0.8s ease;


    @include mixin.desktop__responsive;
    @include mixin.table__responsive {
        padding: 16px;
    }

    &--price p {
        margin: 0;
    }
}
.menu__cards--slide{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    right: -15%; // Position initiale en dehors de la vue 
    height: 100%;
    width: 15%;
    background-color:c.$color-tertiary;
    border-radius: 0 15px 15px 0;
    transition: all 0.8s ease; // Transition fluide 
    -webkit-transition: all 0.8s ease;

}
.fa-circle-check {
        font-size: 26px;
        color: c.$white;
        border-color: c.$color-tertiary;
      
    
}
.menu__cards:hover .menu__cards--slide{
    right: 0; //Rectangle devient visible 
}
.menu__cards:hover .menu__cards--price {
    transform: translateX(-30%); // Décale uniquement le prix vers la gauche 
    -webkit-transform: translateX(-30%);
}

@keyframes slideUp {
    0% {
      transform: translateY(20%);
      -webkit-transform: translateY(20%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0%);
      opacity: 1;
    }
  }
  //cartes remontent en décalé lors de l'ouverture de la page
  .menu__cards {
    opacity: 0; //Rend invisible au départ 
    animation: slideUp 0.6s ease forwards; // Animation 
    -webkit-animation: slideUp 0.6s ease forwards;
}
  
  #card1 {
    animation-delay: 0.1s; // Délai propre à chaque card pour créer le décalé
    -webkit-animation-delay: 0.1s;
  }
  
  #card2 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }
  
  #card3 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  
  #card4 {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
  }
  
  #card5 {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
  }
  
  #card6 {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
  }
  
  #card7 {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
  }
  
  #card8 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
  }
  
  #card9 {
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
  }
  #card10 {
    animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s;
  }
  
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: c.$black;
    color: c.$white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 230px;

    @include mixin.table__responsive {
        flex-direction: row-reverse;
        align-items: flex-end;
        height: 120px;
        padding: 30px 25px;
    }

    &__logo {
        @include mixin.logo__footer;
        margin-left: 20px;
        line-height: normal;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding-left: 10px;

        @include mixin.table__responsive {
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    }
}

.footer__menu__link {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
        text-decoration: none;
        color: c.$white;
        padding-left: 15px;

        &:hover {
            text-decoration: underline;
        }
    }

    i {
        font-size: 18px;
        color: c.$white;
        padding-left: 10px;
    }
}
